<a href="https://colab.research.google.com/github/94spinoza/Code-Blocks/blob/main/n131-vectors-and-matrices/n131a-vectors-matrices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 1*

# 📝 Assignment

## 1. Portfolio

`Dot product` & `Matrix Multiplication` 을 이용하여 다음 포트폴리오의 사람별 총합을 계산하세요.
- 결과는 `res`에 list형태로 저장합니다.

|People|Name|Price|Amount|
|:-:|:-:|:-:|:-:|
|X|A|100|35|
|X|B|500|10|
|X|C|250|25|
|X|D|50|40|
|Y|A|100|-|
|Y|B|500|50|
|Y|C|250|50|
|Y|D|50|-|
|Z|A|100|-|
|Z|B|500|-|
|Z|C|250|100|
|Z|D|50|-|

In [16]:
# 이곳에 답안을 작성하시기 바랍니다
import pandas as pd
import numpy as np

portfolio = pd.DataFrame([
                          ['X', 'A', 100, 35],
                          ['X', 'B', 500, 10],
                          ['X', 'C', 250, 25],
                          ['X', 'D', 50, 40],
                          ['Y', 'A', 100, 0],
                          ['Y', 'B', 500, 50],
                          ['Y', 'C', 250, 50],
                          ['Y', 'D', 50, 0],
                          ['Z', 'A', 100, 0],
                          ['Z', 'B', 500, 0],
                          ['Z', 'C', 250, 100],
                          ['Z', 'D', 50, 0]
], columns = ['People', 'Name', 'Price', 'Amount'])

print(portfolio)

res = []

def personTotal(df, person):
  ind = df[df['People']==person]
  ind_total = (ind['Price']*ind['Amount']).sum()
  res.append(ind_total)

personTotal(portfolio, 'X')
personTotal(portfolio, 'Y')
personTotal(portfolio, 'Z')

res = np.array(res)
print(res)

   People Name  Price  Amount
0       X    A    100      35
1       X    B    500      10
2       X    C    250      25
3       X    D     50      40
4       Y    A    100       0
5       Y    B    500      50
6       Y    C    250      50
7       Y    D     50       0
8       Z    A    100       0
9       Z    B    500       0
10      Z    C    250     100
11      Z    D     50       0
[16750 37500 25000]

## 2. Norms

주어진 값 $x_0, x_1, ... x_n$ 를 element로 갖는 벡터 $v$에 대하여 

$L_1$ Norm 의 정의는 다음과 같습니다. 

$|v| = |x_0| + |x_1| + ... + |x_n|$

$L_2$ Norm 의 정의는 다음과 같습니다.

$||v|| = \sqrt {{x_0}^2 + {x_1}^2 + ... + {x_n}^2}$

이를 참조하여 주어진 벡터에 대해서 $L_2$ Norm 의 값과 $L_1$ Norm 의 값의 차이(**절대값**)를 계산하는 함수를 만드세요.

In [22]:
from numpy import linalg as la

def NormDif(v): # v = np.array()
    norm1 = la.norm(v,1)
    norm2 = la.norm(v,2)
    return abs(norm1-norm2)

2.0

## 3. Errors



- 2개의 벡터와, error의 타입을 입력받아 그 결과값을 계산하는 함수를 작성하세요.

- 여기서 error의 타입은 `MSE`, `MAE` 2가지 입니다.

In [24]:
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error

def error(x, y, type) :
    if type == 'MSE':
      mse = mean_squared_error(x, y)
      return mse
    elif type == 'MAE':
      mae = mean_absolute_error(x, y)
      return mae
    else:
      return None

True
True

# 4. Inverse

- 주어진 matrix에 대해서 inverse matrix를 계산하여 반환하는 함수를 작성하세요. 
- 이 때 inverse 계산이 불가능 한 경우 `-1` 을 반환합니다.

In [34]:
def myInverse(m) :
  try:
    inv = la.inv(m)
    return la.inv(m)
  except:
    return -1

print(myInverse(np.array([[1, 2], [2, 4]])))

-1

# 🔥 도전과제

다음 링크의 내용을 참조하여 **Cramer's rule**을 사용해 $x_1$, $x_2$, $x_3$의 값을 구하세요.

<https://youtu.be/6StS7VjtuGI>


$x_1$ + $2x_3$ = 6

$-3x_1$ + $4x_2$ + $6x3$ = 30

$-x_1$ $-2x_2$ + $3x_3$ = 8